@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

.navbar {
  background: linear-gradient(90deg, #e1f5e0, #c8facc); /* Light green */
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Inter', sans-serif;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
  height: 80px;
  border-radius: 50px;
}

.navbar-menu {
  display: flex;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: flex;
  align-items: center;
}

.link-btn {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  color: #0a3d1c;
  background: none;
  border: none;
  padding: 10px 16px;
  border-radius: 25px;
  transition: background 0.2s ease-in-out, font-weight 0.2s;
  cursor: pointer;
}

.link-btn:hover {
  background-color: #c8facc;
}

.link-btn.active {
  font-weight: 600;
  background-color: #aef8ac;
}

.navbar button {
  font-size: 16px;
  font-weight: 500;
  color: #0a3d1c;
  border: 2px solid #0a3d1c;
  background: transparent;
  padding: 8px 18px;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
}

.navbar button:hover {
  background-color: #b6f0b1;
}

@media (max-width: 1050px) {
  .logo {
    height: 60px;
  }

  .navbar-menu {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }

  .navbar button {
    padding: 6px 15px;
    font-size: 14px;
  }
}
